.footer__social-links {
  position: relative;
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
}

.footer__social-links:hover {
  opacity: .5;
  transition: .4s;
}

.footer__social-links:not(:hover) {
  opacity: 1;
  transition: .4s ease;
}