.header__link {
  text-decoration: none;
  color: #2f80ed;
  font-weight: 400;
  opacity: 1;
}

.header__link:hover {
  opacity: .5;
  transition: .4s;
}

.header__link:not(:hover) {
  opacity: 1;
  transition: .4s ease;
}